/***** Reset CSS *****/
* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/***** BEGIN *****/
html {
    display: flex;
    justify-content: center;
}

.bold {
    font-weight: bold;
}

h2, h3 {
    text-transform: uppercase;
}

/*** main ***/
main > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    row-gap: 12px;
}

article {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin-top: 10px;
    row-gap: 3px;
}

article header, .div-header {
    display: flex;
    width: 100%;
    column-gap: 5px;
}

article header h4, .div-header h4 {
    min-width: 76px;
    padding-top: 1px;
    text-align: left;
}

article header p, .div-header p {
    width: 100%;
}

article > ul {
    display: flex;
    flex-direction: column;
    margin-left: 81px;
    width: 100%;
    row-gap: 5px;
}

.enumeration {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    font-style: italic;
}

.enumeration li:not(:last-child)::after {
    padding-right: 4px;
    content: " /";
}

/*** div.about-me ***/
.about-me .photo {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

div.about-me .section-content {
    display: flex;
    justify-content: center;
    width: 100%;
}

.section-content .email {
    position: relative;
    top: 5px;
    margin-right: 3px;
    font-size: 20px;
}

.section-content .phone {
    position: relative;
    top: 3px;
    left: 1px;
    margin-right: 4px;
    font-size: 18px;
}
